.matrix-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .matrix-row {
    display: flex;
    flex-direction: row;
  }
  
  .matrix-box {
    width: 40px;
    height: 40px;
    margin: 2px;
  }
  